.box {
    width: 1516px;
    height: 720px;
    border:2px solid #6A68A5;
    background-color: #827EED;
    position: relative;
}
.item {
    font-size: 30px;
       width: 303px;
    height: 30px;
    position: absolute;
    bottom: 620px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.item1 { 
     width: 440px ;
    height: 67px ;
    bottom: 520px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.item2 {
    width: 1000px ;
    height: 480px ;
    bottom: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}