                html {
                    font-family: Roboto;
                    font-size: 16px;
                    box-sizing: border-box;
                }
                
                .header {
                    width: 100%;
                    height: 700px;
                    background: #EEEFF1;
                }
                /* Тут работаю с логотипом */
                
                .logo {
                    display: inline-block;
                    width: 86px;
                    height: 50px;
                    color: #34547A;
                    font-size: 2.5rem;
                    line-height: 100%;
                    position: relative;
                    top: 50px;
                    left: 240px;
                }
                
                .foto_logo {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
                
                nav {
                    width: 100%;
                    margin: 0 auto;
                    font-size: 1rem;
                }
                
                nav:before {
                    display: block;
                    height: 50px;
                    width: 83%;
                    background: royalblue;
                    position: absolute;
                    top: 45px;
                    left: 110px;
                    right: 0;
                    z-index: -1;
                }
                
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    height: 50px;
                    margin-left: 700px;
                    vertical-align: middle;
                    color: #727272;
                    line-height: 50px;
                }
                
                ul li {
                    float: left;
                }
                
                ul li a {
                    color: #000;
                    display: block;
                    height: 50px;
                    padding: 0 30px;
                    text-transform: uppercase;
                    text-decoration: none;
                    line-height: 3rem;
                }
                /*фото компа*/
                
                img {
                    float: left;
                    width: 305px;
                    height: 210px;
                    margin-left: 350px;
                    margin-top: 240px;
                }
                
                h1 {
                    position: absolute;
                    display: inline;
                    color: #000;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2.8rem;
                    margin-left: 120px;
                    margin-top: 150px;
                }
                
                .text {
                    position: absolute;
                    width: 470px;
                    height: 70px;
                    font-size: 1rem;
                    font-style: normal;
                    line-height: 1.625;
                    margin-top: 250px;
                    margin-left: 780px;
                    z-index: auto;
                }
                
                button {
                    width: 200px;
                    height: 50px;
                    font-size: 1rem;
                    margin-top: 430px;
                    margin-left: 120px;
                    background: #34547A;
                    color: #FFFFFF;
                }
                /* секция "обо  мне"*/
                
                .info {
                    width: 100%;
                    height: 300px;
                    background: #FFFFFF;
                }
                
                .about_me {
                    font-weight: 500;
                    font-style: normal;
                    font-size: 2rem;
                    text-align: center;
                    margin-top: 140px;
                }
                
                .about_me_text {
                    width: 500px;
                    height: 70px;
                    text-align: center;
                    margin: 0 auto;
                    margin-top: 50px;
                }
                /* мои навыки*/
                
                .block_with_photo_and_text {
                    display: inline-block;
                    width: 100%;
                    height: 600px;
                }
                
                .men_in_photo {
                    position: relative;
                    float: right;
                    width: 500px;
                    height: 400px;
                    margin-right: 250px;
                    margin-top: 100px;
                }
                
                .my_skills {
                    font-style: normal;
                    font-size: 2rem;
                    font-weight: 500;
                    width: 100%;
                    height: 50px;
                    margin-bottom: 40px;
                }
                /*тут странно-размер нижней секции "Как я работаю"стал зависеть от высоты блока "block_for_skills", хотя сразу такого не было*/
                
                .block_for_skills {
                    width: 430px;
                    height: 400px;
                    margin-top: 175px;
                    margin-left: 200px;
                }
                
                .wrapper {
                    width: 400px;
                }
                
                .progress {
                    height: 4px;
                    background: #C4C4C4;
                    margin-bottom: 20px;
                }
                
                .text_Ph {
                    margin-bottom: 10px
                }
                
                .progress-inner {
                    height: 100%;
                    background: #34547A;
                    width: 80%;
                }
                
                .text_Ph {
                    font-size: 1rem;
                    color: #727272;
                }
                /*40+ проектов*/
                
                .box {
                    background: #34547A;
                    width: 100%;
                    height: 250px;
                }
                
                .image_for_40project {
                    display: float;
                }
                
                .project40 {
                    display: inline-block;
                    margin-right: 2px;
                    width: 70px;
                    height: 60px;
                    color: #FFFFFF;
                    margin: 12px 0 0 25px;
                }
                
                .img_book {
                    width: 50px;
                    height: 50px;
                    margin: 0;
                    float: left;
                }
                
                .box-item {
                    float: left;
                    width: 13.5%;
                    height: 25%;
                    margin-top: 100px;
                }
                
                div {
                    box-sizing: border-box;
                }
                
                body {
                    margin: 0;
                    height: 4700px;
                }
                
                .work-process {
                    background-color: #EEEFF1;
                    min-height: 100vh;
                    text-align: center;
                }
                
                .container {
                    max-width: 1120px;
                    margin: 0 auto;
                    padding: 100px 0;
                }
                
                .work-process_title {
                    color: #000000;
                    font-size: 2rem;
                    line-height: 37px;
                    font-weight: 500;
                }
                
                .work-process_description {
                    color: #727272;
                    font-size: 1rem;
                    margin: 50px auto;
                    max-width: 540px;
                }
                
                .work-process_video {
                    width: 100%;
                    height: 600px;
                }
                
                .work-process_video iframe {
                    width: 100%;
                    height: 100%;
                }
                
                .grid {
                    display: grid;
                    grid-template-areas: "a b c d " "e f g h";
                    width: 100%;
                    height: 700px;
                }
                
                .grid-item {
                    width: 100%;
                    height: 100%;
                }
                
                .photo_photo {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
                
                .microsoft {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 250px;
                    background: #ffffff;
                    margin-top: 50px;
                }
                
                .div_photo_microsoft {
                    width: 12%;
                    height: 45%;
                }
                
                .photo_microsoft {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
                
                .info_about_website {
                    position: absolute;
                    width: 100%;
                    height: 670px;
                    background: #EEEFF1;
                    margin: 0;
                }
                
                h3 {
                    position: absolute;
                    display: inline;
                    text-align: center;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 2rem;
                    width: 100%;
                    margin: 100px auto 50px;
                    color: #000000;
                }
                
                .text_under_h3 {
                    position: absolute;
                    display: inline-block;
                    color: #727272;
                    font-size: 1rem;
                    width: 400px;
                    margin-top: 200px;
                    margin-left: 570px;
                }
                /*поле для ввода инф на сайте*/
                
                .div_for_input {
                    display: block;
                    width: 400px;
                    height: 200px;
                    margin-top: 300px;
                    margin-left: 565px;
                }
                
                .window_left {
                    position: absolute;
                    width: 185px;
                    height: 30px;
                }
                
                .window_right {
                    position: absolute;
                    width: 185px;
                    height: 30px;
                    margin-left: 205px;
                }
                
                .window_big {
                    width: 390px;
                    height: 100px;
                    margin-top: 50px;
                }
                
                .send_a_message {
                    width: 200px;
                    height: 50px;
                    font-size: 1rem;
                    margin-top: 50px;
                    margin-left: 110px;
                    background: #34547A;
                    color: #FFFFFF;
                }
                
                footer {
                    position: absolute;
                    width: 100%;
                    height: 100px;
                    background: #44678d;
                    margin-top: 700px;
                }
                
                .div_right {
                    width: 100%;
                    height: 100px;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                }
                
                .photo_vk {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                }
                
                .logo_vk {
                    width: 10%;
                    height: 45%;
                }
                
                .text_footer {
                    position: absolute;
                    color: #FFFFFF;
                    height: 70px;
                    margin-left: 200px;
                    top: 10px;
                }
                
                .text_footer_name {
                    font-size: 1rem;
                }
                
                .text_footer_small {
                    font-size: 0.8rem;
                }