                html {
                    font-family: Roboto;
                    font-size: 16px;
                }
                
                .header {
                    width: 100%;
                    height: 500px;
                    background: #EEEFF1;
                }
                
                .WD {
                    display: inline-block;
                    width: 70px;
                    height: 40px;
                    color: #34547A;
                    font-size: 2.5rem;
                    line-height: 100%;
                    position: relative;
                    top: 40px;
                    left: 320px;
                }
                
                nav {
                    width: 100%;
                    margin: 0 auto;
                    font-size: 1rem;
                }
                
                nav:before {
                    display: block;
                    height: 50px;
                    width: 83%;
                    background: royalblue;
                    position: absolute;
                    top: 45px;
                    left: 110px;
                    right: 0;
                    z-index: -1;
                }
                
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    height: 50px;
                    margin-left: 700px;
                    vertical-align: middle;
                    color: #727272;
                    line-height: 50px;
                }
                
                ul li {
                    float: left;
                }
                
                ul li a {
                    color: #000;
                    display: block;
                    height: 50px;
                    padding: 0 30px;
                    text-transform: uppercase;
                    text-decoration: none;
                    line-height: 3rem;
                }
                
                img {
                    float: left;
                    width: 210px;
                    height: 160px;
                    margin-left: 450px;
                    margin-top: 80px;
                }
                
                h1 {
                    position: absolute;
                    display: inline;
                    color: #000;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2.8rem;
                    line-height: 4rem;
                    margin-right: 50px;
                    margin-left: 160px;
                    z-index: auto;
                }
                
                .text {
                    position: absolute;
                    width: 470px;
                    height: 70px;
                    font-size: 1rem;
                    font-style: normal;
                    line-height: 1.625;
                    margin-top: 110px;
                    margin-left: 820px;
                    z-index: auto;
                }
                
                button {
                    width: 200px;
                    height: 50px;
                    font-size: 1rem;
                    margin-top: 240px;
                    margin-left: 160px;
                    background: #34547A;
                    color: #FFFFFF;
                }
                
                .info {
                    width: 100%;
                    height: 300px;
                    background: #FFFFFF;
                }
                
                .about_me {
                    font-weight: 500;
                    font-style: normal;
                    font-size: 2rem;
                    text-align: center;
                }
                
                .about_me_text {
                    width: 500px;
                    height: 70px;
                    text-align: center;
                    margin: 0 auto;
                }
                
                .info_with_photo {
                    width: 100%;
                    height: 600px;
                }
                
                .men_in_photo {
                    float: right;
                    width: 450px;
                    height: 400px;
                    margin-right: 300px;
                    margin-top: 120px;
                }
                
                .my_skills {
                    font-style: normal;
                    font-size: 2rem;
                    font-weight: 500;
                    position: absolute;
                    margin-top: 170px;
                    margin-left: 270px;
                }
                
                .box {
                    display: flex;
                    justify-content: center;
                    background: #34547A;
                    width: 100%;
                    height: 250px;
                    align-items: center;
                }
                
                .project40 {
                    display: inline-block;
                    margin-right: 2px;
                    width: 70px;
                    height: 60px;
                    color: #FFFFFF;
                    margin: 12px 0 0 25px;
                }
                
                .img_book {
                    width: 40px;
                    height: 100%;
                    margin: 0;
                    float: left;
                }
                
                .box-item {
                    width: 10%;
                    height: 25%;
                }
                
                div {
                    box-sizing: border-box;
                }
                
                body {
                    margin: 0;
                    height: 4700px;
                }
                
                .work-process {
                    background-color: #EEEFF1;
                    min-height: 100vh;
                    text-align: center;
                }
                
                .container {
                    max-width: 1120px;
                    margin: 0 auto;
                    padding: 100px 0;
                }
                
                .work-process_title {
                    color: #000000;
                    font-size: 2rem;
                    line-height: 37px;
                    font-weight: 500;
                }
                
                .work-process_description {
                    color: #727272;
                    font-size: 1rem;
                    margin: 50px auto;
                    max-width: 540px;
                }
                
                .work-process_video {
                    width: 100%;
                    height: 600px;
                }
                
                .work-process_video iframe {
                    width: 100%;
                    height: 100%;
                }
                
                .grid {
                    display: grid;
                    grid-template-areas: "a b c d " "e f g h";
                    width: 100%;
                    height: 700px;
                }
                
                .grid-item {
                    width: 100%;
                    height: 100%;
                }
                
                .photo_photo {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
                
                .microsoft {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 250px;
                    background: #ffffff;
                }
                
                .div_photo_microsoft {
                    width: 13%;
                    height: 45%;
                }
                
                .photo_microsoft {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
                
                .info_about_website {
                    position: absolute;
                    width: 100%;
                    height: 670px;
                    background: #EEEFF1;
                    margin: 0;
                }
                
                h3 {
                    position: absolute;
                    display: inline;
                    text-align: center;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 2rem;
                    width: 100%;
                    margin: 100px auto 50px;
                    color: #000000;
                }
                
                .text_under_h3 {
                    position: absolute;
                    display: inline-block;
                    color: #727272;
                    font-size: 1rem;
                    width: 400px;
                    margin-top: 200px;
                    margin-left: 570px;
                }
                
                .div_for_input {
                    display: block;
                    width: 400px;
                    height: 200px;
                    margin-top: 300px;
                    margin-left: 565px;
                }
                
                .window_left {
                    position: absolute;
                    width: 185px;
                    height: 30px;
                }
                
                .witdow_right {
                    position: absolute;
                    width: 185px;
                    height: 30px;
                    margin-left: 205px;
                }
                
                .window_big {
                    width: 390px;
                    height: 100px;
                    margin-top: 50px;
                }
                
                .send_a_message {
                    width: 200px;
                    height: 50px;
                    font-size: 1rem;
                    margin-top: 50px;
                    margin-left: 110px;
                    background: #34547A;
                    color: #FFFFFF;
                }
                
                footer {
                    position: absolute;
                    width: 100%;
                    height: 100px;
                    background: #44678d;
                    margin-top: 700px;
                }
                
                .div_right {
                    width: 100%;
                    height: 100px;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                }
                
                .photo_vk {
                    width: 40px;
                    height: 40px;
                    margin: 0;
                }
                
                .logo_vk {
                    width: 10%;
                    height: 45%;
                }
                
                .text_footer {
                    position: absolute;
                    color: #FFFFFF;
                    height: 70px;
                    margin-left: 200px;
                    top: 10px;
                }
                
                .text_footer_name {
                    font-size: 1rem;
                }
                
                .text_footer_small {
                    font-size: 0.8rem;
                }